################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/eSocial/FileContentIndex/63857787-fb37-4744-8a1a-83e6a3d86656.vsidx
/.vs/eSocial/FileContentIndex/f381f049-96fc-498a-b681-5aa2eb39ec3c.vsidx
/.vs/eSocial/FileContentIndex/78da70c1-4480-49dc-b4e9-04f3eb7b453c.vsidx
/.vs/eSocial/FileContentIndex/73027918-8a20-4474-b1c3-b637aadea711.vsidx
/.vs/eSocial/FileContentIndex/6024ce21-3155-45cb-8041-2984634543d6.vsidx
/.vs/eSocial/FileContentIndex/357f9e78-53e5-40c4-a549-c06d49fe62bc.vsidx
/.vs/eSocial/FileContentIndex/2f7009d3-0468-4650-afe5-de3e8c4822d2.vsidx
/.vs/eSocial/FileContentIndex
