<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="https://webservices.envio.esocial.gov.br/servicos/empregador/enviarloteeventos/WsEnviarLoteEventos.svc" binding="basicHttpBinding" bindingConfiguration="WsEnviarLoteEventos" contract="wsEnviarLoteEventos.ServicoEnviarLoteEventos" name="WsEnviarLoteEventos"/>
      <endpoint address="https://webservices.consulta.esocial.gov.br/servicos/empregador/consultarloteeventos/WsConsultarLoteEventos.svc" binding="basicHttpBinding" bindingConfiguration="Servicos.Empregador_ServicoConsultarLoteEventos" contract="wsConsultarLoteEventos.ServicoConsultarLoteEventos" name="Servicos.Empregador_ServicoConsultarLoteEventos"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="WsEnviarLoteEventos" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="Servicos.Empregador_ServicoConsultarLoteEventos" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <!--Variáveis-->
    <!-- Limite de eventos por lote - 50 MAX -->
    <add key="qtdEvtLote" value="50"/>
    <!--Intervalo entre o envio e a consulta (Pré)-->
    <add key="intPreConsulta" value="10"/>
    <!--Intervalo para o envio de novos eventos -->
    <add key="intProxEnvio" value="10"/>
    <!--Máximo de colunas do textBox do LOG-->
    <add key="maxColChar" value="52"/>
    <add key="versao" value="0.0.1"/>
    <add key="debug" value="0"/>
    <add key="SQLProc" value="ESSP_eSocial"/>
    <add key="addrWsConsultarLote" value="https://webservices.consulta.esocial.gov.br/servicos/empregador/consultarloteeventos/WsConsultarLoteEventos.svc"/>
    <add key="addrWsConsultarLoteTeste" value="https://webservices.producaorestrita.esocial.gov.br/servicos/empregador/consultarloteeventos/WsConsultarLoteEventos.svc"/>
    <add key="addrWsEnviarLote" value="https://webservices.envio.esocial.gov.br/servicos/empregador/enviarloteeventos/WsEnviarLoteEventos.svc"/>
    <add key="addrWsEnviarLoteTeste" value="https://webservices.producaorestrita.esocial.gov.br/servicos/empregador/enviarloteeventos/WsEnviarLoteEventos.svc"/>
    <!--<add key="vLayoutEventos" value="v02_04_02"/>-->
    <add key="vLayoutEventos" value="v02_05_00"/>
    <add key="vLayoutEnvioWS" value="v1_1_1"/>
    <add key="vLayoutConsultaWS" value="v1_0_0"/>
    <add key="vLayoutRetProc" value="v1_3_0"/>
    <add key="vLayoutRetEvento" value="v1_2_1"/>
    <add key="vLayoutRetEnvio" value="v1_1_0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="evento_tabela" value="1"/>
    <add key="evento_naoPeriodico" value="1"/>
    <add key="evento_periodico" value="1"/>
    <add key="evento_server" value="1"/>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
